/* tela 1 lista de quizzes */
*{    
    box-sizing: border-box;
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color:#FAFAFA;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;    
    text-align: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 43px;
    color: #FFFFFF;
}

.lista-quizzes {
    width: 100%;
    height: auto;  
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.criar-quizz {
    
    width: 1051px;
    height: 181px;
    margin-top: 100px;
    background: #ffffff;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criar-quizz > button {
    width: 151px;
    height: 40px;  
    background: #ffffff;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #EC362D;
}

.placeholdercriar::placeholder{
    
    font-family: Roboto;  
    font-size: 21px;
    text-align: center;
    color: #EC362D;
}

.criar-quizz > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;       
    text-align: center;
    color: #B9B9B9;
    margin-bottom: 20px;
}

.titulo-todos > p{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;    
    color: #000000;
    margin-top: 35px;                
}

.todos-quizzes{
   display: flex;
   flex-wrap:wrap;
   align-items: center;
   justify-content: center;
   margin-top: 70px;
   position: relative;
}
    
.dupla{
    display: flex;
    flex-direction: row;    
    flex-wrap:wrap; 
       
}

figure > img{
    margin-right: 12px;
    margin-bottom: 15px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

/* Criação de quizz */
.criacao-de-quizzes, .perguntas-quizz, .perguntas, .niveis,.niveis-quizz, .sucesso, .sucesso-quizz{

    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}

.titulos {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
    color: #000000;
}
.caixa-input > input, .input-incorretas > input, .caixa-input2 > input, .caixa-input3 > input{
    margin-top: 10px;
    width: 95%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.caixa-input, .caixa-input2, .caixa-input3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.input-incorretas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    background: #FFFFFF;
    
    padding-bottom: 20px;
}

.placeholdercriacao::placeholder{
    
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    
}

.botao-prosseguir > button, .botao-prosseguir-2 > button, .botao-prosseguir-3 > button, .botao-prosseguir-4 > button {
    width: 368px;
    height: 54px;
    margin-top: 60px;
    background: #EC362D;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border-style: none;
}    

/* perguntas do quizz */

.caixa-perguntas{
    width: 601px;
    height: 74px;   
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.titulos > p{
    margin-bottom: 20px;
    margin-left: 5px;
}

.ion{
   font-size: 20px;
   margin-right: 5px;
}

.titulos-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 28px;
    margin-bottom: 24px;
    margin-left: 5px;
    align-self: flex-start;
}

.voltar {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    margin-top: 20px;
    color: #818181;
}

.imagem-sucesso > img {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 5px;
}

.imagem-sucesso{
    width: 500px;
    height: 266px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.imagem-sucesso > p{
    position: fixed;
    top: 500px;
    right: 620px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #ffffff;
}



/* Execução de quizz */

.pergunta img {
    width: 164px;
    height: 113px;
}

.opcao img {
    width: 164px;
    height: 113px;
}


.titulo img {
    width: 375px;
    height: 142px;
}

.execucao-quizz {
    background-color: #E5E5E5;
    margin-bottom: 100px;
}

.titulo {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.mask {
    position: absolute;
    top: 0;
    background-color: #000000;
    opacity: 0.6;
    height: 142px;
    width: 375px;
}

.titulo p {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 90px;
    color: white;
}

.pergunta {
    margin-top: 20px;
    width: 100vw;
    height: 436px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-pergunta {
    background-color: #434CA0;
    height: 89px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pergunta p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    width: 100%;
}

.opcoes h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    max-width: 340px;
    padding-top: 6px;
}

.opcao h6 {
    max-width: 164px;
}

.space {
    height: 20px;
    background-color: #FAFAFA;
}

.opcao {
    width: auto;
}

.true h6 {
    color: green;
}

.false h6 {
    color: red;
}

.false {
    opacity: 0.5;
}

.pergunta {
    width: 375px;
}

#resultado img {
    height: 255px;
    width: 340px;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #FAFAFA;
}

#reiniciar {
    background-color: #EC362D;
    border: none;
    border-radius: 30px;
    color: white;
}

#home {
    border: none;
    color: grey;
    background-color: #FAFAFA;
}
