/* tela 1 lista de quizzes */
*{    
    box-sizing: border-box;
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color:#FAFAFA;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;    
    text-align: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 43px;
    color: #FFFFFF;
}

.lista-quizzes {
    width: 100%;
    height: auto;  
    background-color: rgb(61, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.criar-quizz {
    
    width: 340px;
    height: 181px;
    margin-top: 100px;
    background: #ffffff;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criar-quizz > input {
    width: 151px;
    height: 40px;  
    background: #ffffff;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
}

.placeholdercriar::placeholder{
    
    font-family: Roboto;  
    font-size: 21px;
    text-align: center;
    color: #EC362D;
}

.criar-quizz > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;       
    text-align: center;
    color: #B9B9B9;
    margin-bottom: 20px;
}

.titulo-todos > p{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;    
    color: #000000;
    margin-top: 35px;                
}

.todos-quizzes{
   display: flex;
   flex-wrap:wrap;
   align-items: center;
   justify-content: center;
   margin-top: 70px;
   position: relative;
}
    
.dupla{
    display: flex;
    flex-direction: column;    
    flex-wrap:wrap; 
       
}

figure > img{
    margin-right: 12px;
    margin-bottom: 15px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

/* Criação de quizz */
.criacao-de-quizzes{

    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo-criação {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 29px;
    color: #000000;
}
.caixa-input > input {
    margin-top: 10px;
    width: 95%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.caixa-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.placeholdercriacao::placeholder{
    
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    
}

.butao-prosseguir > button {
    width: 368px;
    height: 54px;
    margin-top: 85px;
    background: #EC362D;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border-style: none;
}

/* Execução de quizz */

.execucao-quizz {
    background-color: #E5E5E5;
}

.titulo {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.mask {
    position: absolute;
    top: 0;
    background-color: #000000;
    opacity: 0.6;
    height: 142px;
    width: 100vw;
}

.titulo p {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 90px;
    color: white;
}

.pergunta {
    margin-top: 20px;
    width: 100vw;
    height: 436px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-pergunta {
    background-color: #434CA0;
    height: 89px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pergunta p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    width: 100%;
}

.opcoes h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    max-width: 340px;
    padding-top: 6px;
}

.space {
    height: 20px;
}

.opcao {
    width: auto;
}